[Unit]
Description=Docker
Wants=network.target

[Service]
ExecStart=/usr/bin/docker -d --selinux-enabled
Restart=always

[Install]
RequiredBy=multi-user.target