[Unit]
Description=Rc.local Script Executor (/etc/rc.d/rc.local)
Requires=vlipco.target

[Service]
Type=oneshot
ExecStart=/etc/rc.d/rc.local

[Install]
WantedBy=vlipco.target
